<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IM聊天界面</title>

    <link rel="stylesheet" href="assets/assets/image/1.jpg">
    <link rel="stylesheet" href="assets/assets/css/chat.css">

    <style>
        body {
            background: url('assets/assets/image/1.jpg') fixed no-repeat;
            background-size: 100% 100%;
        }
    </style>

</head>

<body>

    <div id="main_window">
        <div class="main_up">
            <div class="main_up_left">div1</div>
            <div class="main_up_right">div2</div>
        </div>
    </div>
</body>

</html>