{{define "login_lineedit"}}

<head>

    <link rel="stylesheet" type="text/css"
        href="assets/assets/jquery/lineedit/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/assets/jquery/lineedit/css/default.css">
    <link rel="stylesheet" href="assets/assets/jquery/lineedit/css/normalize.css">
    <link rel="stylesheet" href="assets/assets/jquery/lineedit/css/set2.css">
    <script type="text/javascript" src="assets/assets/jquery/lineedit/js/classie.js"></script>
</head>

<body>
    <span class="input input--nao">
        <input class="input__field input__field--nao" type="text" id="input-username" />
        <label class="input__label input__label--nao" for="input-username">
            <span class="input__label-content input__label-content--nao">用户名</span>
        </label>
        <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path
                d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
        </svg>
    </span>
    <span class="input input--nao">
        <input class="input__field input__field--nao" type="text" id="input-password" />
        <label class="input__label input__label--nao" for="input-password">
            <span class="input__label-content input__label-content--nao">密码</span>
        </label>
        <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path
                d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
        </svg>
    </span>

    <script>
        (function () {
            if (!String.prototype.trim) {
                (function () {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function () {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
                // in case the input is already filled..
                if (inputEl.value.trim() !== '') {
                    classie.add(inputEl.parentNode, 'input--filled');
                }

                // events:
                inputEl.addEventListener('focus', onInputFocus);
                inputEl.addEventListener('blur', onInputBlur);
            });

            function onInputFocus(ev) {
                classie.add(ev.target.parentNode, 'input--filled');
            }

            function onInputBlur(ev) {
                if (ev.target.value.trim() === '') {
                    classie.remove(ev.target.parentNode, 'input--filled');
                }
            }
        })();
    </script>
</body>


{{end}}