<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>

    <script type="text/javascript" src="assets/assets/js/websocket.js"></script>


    <link rel="stylesheet" href="assets/assets/css/login.css">
    <script type="text/javascript" src="assets/assets/js/login.js"></script>

    <link rel="stylesheet" href="assets/assets/image/1.jpg">
    <link rel="stylesheet" href="assets/assets/css/chat.css">
    <script type="text/javascript" src="assets/assets/js/test.js"></script>
    <script type="text/javascript" src="assets/assets/js/chat.js"></script>
    <script type="text/javascript" src="assets/assets/js/crc32.js"></script>
    <script type="text/javascript" src="assets/assets/js/output_screen.js"></script>
    <script type="text/javascript" src="assets/assets/js/register.js"></script>

</head>

<body>
    <div id="login_window">
        <div id="login_left">
            {{template "login_lineedit" .}}
            {{template "login_button" .}}
        </div>
        <div id="login_right">
        </div>
    </div>

    <script>
        createWorker()
    </script>

</body>

</html>